version: '3.9'

services:
  app:
    build: .
    container_name: tutor_assistant_app
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./src:/app
    env_file:
      - .env

  db:
    image: postgres:16
    container_name: tutor_assistant_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - tutor_assistant_postgres_data:/var/lib/postgresql/data
    ports:
      - "5438:5432"

volumes:
  tutor_assistant_postgres_data:
